.red {
  margin: 5px;
}

.jumbotron {
  background: url("newyorktimes.png") no-repeat center center;
  background-size: cover;
  height: 400px;
}

.card {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.save {
  width: 130px;
  margin-left: 20px;
}
